# -------------------------
# Python virtualenvs
# -------------------------
.venv/
venv/
env/
ENV/

# -------------------------
# Python cache / build
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# OS junk
# -------------------------
.DS_Store
.AppleDouble
.AppleDB
.AppleDesktop
.Trashes

# -------------------------
# Editors
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs / temp
# -------------------------
*.log
*.tmp
